game mode nodered.txt
[{"id":"37baa2929caa1b45","type":"tab","label":"Game Mode","disabled":false,"info":"","env":[]},{"id":"ed1fe018f40d4924","type":"server-state-changed","z":"37baa2929caa1b45","name":"gaming & Movie mode","server":"75d5c52c.70a10c","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.0x00124b0023429042_contact"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":380,"wires":[["a0518ce0cb7ce77a","50e7ace0769e9031","604e8b4c78fb48ae","700e0456c9d2e551"],["4e9bb190f74ab446","2890a43adf0c3c60"]]},{"id":"6df43a0b5d8e05e2","type":"api-call-service","z":"37baa2929caa1b45","name":"kitchen Light bar","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.sonoff_1002036293_2"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_off","x":580,"y":120,"wires":[["581588da3c301329"]]},{"id":"a0518ce0cb7ce77a","type":"api-call-service","z":"37baa2929caa1b45","name":"kitchen Light spot","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.sonoff_1002036293_3"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_off","x":390,"y":120,"wires":[["6df43a0b5d8e05e2"]]},{"id":"581588da3c301329","type":"api-call-service","z":"37baa2929caa1b45","name":"kitchen Light LED","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.sonoff_1002036293_1"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_off","x":770,"y":120,"wires":[[]]},{"id":"50e7ace0769e9031","type":"api-call-service","z":"37baa2929caa1b45","name":"Living Light LED","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.sonoff_1001e7f31c"],"labelId":[],"data":"{   \"entity_id\": \"livingLED\",   \"rgb_color\": [0, 0, 255] }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":400,"y":320,"wires":[["1cfe48305375125d"]]},{"id":"a420a8f185b45940","type":"api-call-service","z":"37baa2929caa1b45","name":"Lamp","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.lamp"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_off","x":530,"y":180,"wires":[[]]},{"id":"1cfe48305375125d","type":"api-call-service","z":"37baa2929caa1b45","name":"Govee Dreamview active","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":650,"y":320,"wires":[[]]},{"id":"700e0456c9d2e551","type":"api-call-service","z":"37baa2929caa1b45","name":"kitchen Fram","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.sonoff_1002036293"],"labelId":[],"data":"{   \"entity_id\": \"light.fram\",   \"effect\": \"DIY 2\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":390,"y":380,"wires":[["1872de338f93396b"]]},{"id":"604e8b4c78fb48ae","type":"api-call-service","z":"37baa2929caa1b45","name":"Living Light ","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"switch.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.sonoff_1001e842e5_1"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_off","x":370,"y":180,"wires":[["a420a8f185b45940"]]},{"id":"126fd8f2848cef1c","type":"inject","z":"37baa2929caa1b45","name":"off Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":460,"wires":[[]]},{"id":"65baef820702ccab","type":"inject","z":"37baa2929caa1b45","name":"On test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":260,"wires":[[]]},{"id":"6cec0f69b997f95e","type":"within-time-switch","z":"37baa2929caa1b45","name":"Gaming&Mov Mode","nameInt":"","positionConfig":"b2e3df80af0f37f4","startTime":"sunsetStart","startTimeType":"pdsTime","startOffset":"-30","startOffsetType":"num","startOffsetMultiplier":60000,"endTime":"sunriseStart","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":600,"y":980,"wires":[[],[]]},{"id":"1872de338f93396b","type":"api-call-service","z":"37baa2929caa1b45","name":"Alexa : Gaming and Movie Mode ","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"notify.alexa_media_xhyens_s_echo_dot","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{   \"message\": \"Gaming and Movie Mode.\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"notify","service":"alexa_media_xhyens_s_echo_dot","x":630,"y":380,"wires":[[]]},{"id":"aa0e1f000d324e86","type":"api-call-service","z":"37baa2929caa1b45","name":"Alexa : Volume down +5","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"media_player.volume_down","floorId":[],"areaId":[],"deviceId":[],"entityId":["media_player.xhyens_s_echo_dot"],"labelId":[],"data":"{“volume_level”:“0.7”}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"media_player","service":"volume_down","x":310,"y":980,"wires":[[]]},{"id":"2a27859265e92786","type":"inject","z":"37baa2929caa1b45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":60,"y":940,"wires":[["aa0e1f000d324e86"]]},{"id":"0589dfd2b56a3dfb","type":"api-call-service","z":"37baa2929caa1b45","name":"Alexa : Back to the normal scene","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"notify.alexa_media_xhyens_s_echo_dot","floorId":[],"areaId":[],"deviceId":[],"entityId":[],"labelId":[],"data":"{   \"message\": \"Back to the normal scene.\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"notify","service":"alexa_media_xhyens_s_echo_dot","x":940,"y":540,"wires":[[]]},{"id":"4e9bb190f74ab446","type":"api-call-service","z":"37baa2929caa1b45","name":"kitchen Fram","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.sonoff_1002036293"],"labelId":[],"data":"{   \"entity_id\": \"light.fram\",   \"effect\": \"Night Light\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":370,"y":540,"wires":[["b9111a42a977d6ad"]]},{"id":"2890a43adf0c3c60","type":"api-call-service","z":"37baa2929caa1b45","name":"Living Light LED","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.sonoff_1001e7f31c"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_off","x":380,"y":600,"wires":[["b1189014a0b98d17"]]},{"id":"b9111a42a977d6ad","type":"api-call-service","z":"37baa2929caa1b45","name":"kitchen Light LED","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"switch.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["switch.sonoff_1002036293_1"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"switch","service":"turn_on","x":550,"y":540,"wires":[["30b7f591c5eea83a"]]},{"id":"b1189014a0b98d17","type":"api-call-service","z":"37baa2929caa1b45","name":"Govee Dreamview active","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"light.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.backlight"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_off","x":590,"y":600,"wires":[[]]},{"id":"30b7f591c5eea83a","type":"api-call-service","z":"37baa2929caa1b45","name":"Lamp","server":"75d5c52c.70a10c","version":7,"debugenabled":false,"action":"light.turn_on","floorId":[],"areaId":[],"deviceId":[],"entityId":["light.lamp"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"light","service":"turn_on","x":710,"y":540,"wires":[["0589dfd2b56a3dfb"]]},{"id":"91ac993f4e450fa1","type":"comment","z":"37baa2929caa1b45","name":"Off-Scene \"Back to the Normal scene\"","info":"","x":450,"y":500,"wires":[],"icon":"node-red/alert.svg"},{"id":"3d5cb3c3ee09a125","type":"comment","z":"37baa2929caa1b45","name":"On-Scene \"Gaming and Movie Mode\"","info":"","x":470,"y":280,"wires":[],"icon":"node-red/alert.svg"},{"id":"79cbf2d7b45dde9d","type":"comment","z":"37baa2929caa1b45","name":"Stage On 1 - Off Kitchen and Living Room","info":"","x":480,"y":80,"wires":[],"icon":"node-red/alert.svg"},{"id":"75d5c52c.70a10c","type":"server","name":"Home Assistant","addon":true},{"id":"b2e3df80af0f37f4","type":"position-config","name":"","isValide":"true","angleType":"deg","timeZoneOffset":99,"timeZoneDST":0,"stateTimeFormat":3,"stateDateFormat":12,"contextStore":""}]